//colors
$color-white:		#fff;
$color-black:		#2d3033;
$color-grey:		#6c7279;
$color-secondary:	#e84545;
$color-link:		#cbccd3;
$color-blue:		#313454;
$color-footer:		#3a3e64;
$color-hover:		#E80C0C;
$color-carousel:	#53354a;

//font-weights
$font-bold:			700;
$font-normal:		400;
$font-light: 		300;

//fonts
$font-txt:			'Raleway', sans-serif;
$font-logo:			'Open Sans', sans-serif;
$font-carousel:		'Cardo', serif;