//colors
$color-white:		#fff;
$color-black:		#2d3033;
$color-grey:		#6c7279;
$color-secondary:	#e84545;

//font-weights
$font-bold:			700;
$font-normal:		400;

//fonts
$font-txt:			'Raleway', sans-serif;
$font-logo:			'Open Sans', sans-serif;
$font-carousel:		'Cardo', serif;