@import url("https://fonts.googleapis.com/css?family=Cardo|Open+Sans|Raleway");
/* line 5, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../scss/layout/_header.scss */
body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

/* line 7, ../scss/layout/_header.scss */
.banner {
  margin-top: -100px;
  background: url("../../img/layer-34.png") no-repeat center center;
  background-size: cover;
}

/* line 13, ../scss/layout/_header.scss */
.header {
  color: #fff;
  height: 100px;
  align-items: inherit;
  transition: height 0.3s;
}
/* line 19, ../scss/layout/_header.scss */
.header .container {
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);
}
@media (min-width: 1230px) {
  /* line 19, ../scss/layout/_header.scss */
  .header .container {
    max-width: 1200px;
  }
}
/* line 27, ../scss/layout/_header.scss */
.header-fixed {
  background-color: #313454;
  height: 70px;
}
/* line 31, ../scss/layout/_header.scss */
.header-fixed .container {
  box-shadow: none;
}
@media (min-width: 992px) {
  /* line 41, ../scss/layout/_header.scss */
  .header .navbar-nav .nav-item {
    margin-left: 50px;
  }
}
/* line 47, ../scss/layout/_header.scss */
.header .navbar-nav .nav-link {
  color: #cbccd3;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  padding-right: 0;
  transition: .3s;
}
/* line 56, ../scss/layout/_header.scss */
.header .navbar-nav .nav-link:hover {
  color: #fff;
}
/* line 63, ../scss/layout/_header.scss */
.header .navbar-toggler {
  width: 35px;
  height: 35px;
  padding: 7px;
  background-color: #e84545;
  border-radius: 50%;
  border-color: #e84545;
  transform: translate3d(0, 0, 0);
}
/* line 72, ../scss/layout/_header.scss */
.header .navbar-toggler .icon-bar {
  background: #fff;
  display: block;
  height: 2px;
  margin: 0;
  transition: transform 0.1s ease-in;
  opacity: 1;
  transform-origin: 50% 50%;
}
/* line 81, ../scss/layout/_header.scss */
.header .navbar-toggler .icon-bar:nth-child(2) {
  margin-bottom: 4px;
  margin-top: 4px;
}
/* line 91, ../scss/layout/_header.scss */
.header-title a {
  font-size: 36px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  line-height: 20px;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
}

/* line 103, ../scss/layout/_header.scss */
.wrap {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}
/* line 112, ../scss/layout/_header.scss */
.wrap-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  flex-direction: column;
}

/* line 122, ../scss/layout/_header.scss */
.active {
  color: #fff;
}

/* line 1, ../scss/layout/_welcome-section.scss */
.welcome-section {
  padding: 50px 0;
  color: #fff;
  min-height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
/* line 12, ../scss/layout/_welcome-section.scss */
.welcome-section .container {
  margin-top: 100px;
}
@media (min-width: 992px) {
  /* line 12, ../scss/layout/_welcome-section.scss */
  .welcome-section .container {
    max-width: 890px;
  }
}
/* line 19, ../scss/layout/_welcome-section.scss */
.welcome-section-title {
  font-size: 65px;
  font-weight: 700;
  line-height: 71px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 25px;
}
@media (max-width: 1023px) {
  /* line 19, ../scss/layout/_welcome-section.scss */
  .welcome-section-title {
    font-size: 4.5vmax;
    line-height: 5vmax;
    margin-bottom: 10px;
  }
}
/* line 34, ../scss/layout/_welcome-section.scss */
.welcome-section-info {
  font-weight: 400;
  line-height: 33px;
  font-size: 22px;
  margin-bottom: 70px;
}
@media (max-width: 1023px) {
  /* line 34, ../scss/layout/_welcome-section.scss */
  .welcome-section-info {
    font-size: 2.8vmax;
    line-height: 4vmax;
  }
}

/* line 1, ../scss/layout/_features-section.scss */
.features {
  padding: 100px 0 50px 0;
}
/* line 4, ../scss/layout/_features-section.scss */
.features-list {
  text-align: center;
}
/* line 7, ../scss/layout/_features-section.scss */
.features-list-item {
  margin-bottom: 50px;
}
/* line 11, ../scss/layout/_features-section.scss */
.features-list-item p {
  line-height: 21px;
  font-weight: 700;
  font-size: 14px;
  color: #6c7279;
}
/* line 19, ../scss/layout/_features-section.scss */
.features-list-img {
  margin-bottom: 20px;
}

/* line 25, ../scss/layout/_features-section.scss */
.title-section {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  color: #2d3033;
  margin-bottom: 15px;
}

/* line 3, ../scss/layout/_works-section.scss */
.works-list {
  margin: 0;
}
/* line 6, ../scss/layout/_works-section.scss */
.works-list-item {
  padding: 0.5px;
  display: inherit;
}
/* line 10, ../scss/layout/_works-section.scss */
.works-list-item figure {
  width: 100%;
  overflow: hidden;
  background-color: #e84545;
}
/* line 16, ../scss/layout/_works-section.scss */
.works-list-item figure a {
  position: relative;
}
/* line 22, ../scss/layout/_works-section.scss */
.works-list-item figure:hover img, .works-list-item figure :focus img {
  overflow: hidden;
  transform: scale(1.3);
  opacity: .1;
}
/* line 28, ../scss/layout/_works-section.scss */
.works-list-item figure:hover .text-hover, .works-list-item figure :focus .text-hover {
  display: block;
}
/* line 36, ../scss/layout/_works-section.scss */
.works-list-item .text-hover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
/* line 43, ../scss/layout/_works-section.scss */
.works-list-item .text-hover .title-section {
  color: #fff;
}
/* line 47, ../scss/layout/_works-section.scss */
.works-list-item .text-hover p {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
/* line 56, ../scss/layout/_works-section.scss */
.works-list-img {
  width: 100%;
  height: 100%;
  opacity: 1;
  transform: scale(1);
  transition: .3s ease-in-out;
}

/* line 1, ../scss/layout/_team-section.scss */
.team {
  padding: 100px 0 50px 0;
}
@media (min-width: 1200px) {
  /* line 4, ../scss/layout/_team-section.scss */
  .team .container {
    max-width: 1170px;
  }
}
/* line 13, ../scss/layout/_team-section.scss */
.team-list-item {
  margin-bottom: 50px;
}
/* line 16, ../scss/layout/_team-section.scss */
.team-list-item p {
  color: #6c7279;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin-bottom: 25px;
}
@media (max-width: 991px) {
  /* line 13, ../scss/layout/_team-section.scss */
  .team-list-item {
    text-align: center;
  }
}
/* line 31, ../scss/layout/_team-section.scss */
.team-list-header h4 {
  font-size: 22px;
  font-weight: 400;
  color: #2d3033;
  margin-bottom: 5px;
}
/* line 38, ../scss/layout/_team-section.scss */
.team-list-header p {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 400;
  color: #e84545;
}
/* line 47, ../scss/layout/_team-section.scss */
.team-list-img {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 25px;
}

/* line 59, ../scss/layout/_team-section.scss */
.social-section a {
  color: #c6cacc;
}
/* line 62, ../scss/layout/_team-section.scss */
.social-section a:hover, .social-section a :focus {
  color: #fff;
}
/* line 65, ../scss/layout/_team-section.scss */
.social-section a:hover.btn, .social-section a :focus.btn {
  background-color: #e84545;
  border-color: #e84545;
}
/* line 72, ../scss/layout/_team-section.scss */
.social-section .btn {
  border-radius: 0;
  width: 40px;
  height: 40px;
  border-color: #e8ecee;
}

/* line 1, ../scss/layout/_footer.scss */
.footer {
  padding: 70px 0 50px 0;
  background-color: #3a3e64;
}
/* line 5, ../scss/layout/_footer.scss */
.footer .title-section {
  color: #fff;
}
/* line 9, ../scss/layout/_footer.scss */
.footer-item {
  margin-bottom: 30px;
}
/* line 12, ../scss/layout/_footer.scss */
.footer-item p {
  color: #fff;
  opacity: .5;
  font-size: 14px;
  line-height: 22.5px;
  font-weight: 400;
}
/* line 22, ../scss/layout/_footer.scss */
.footer-item .social-section a {
  color: #fff;
}

/* line 1, ../scss/layout/_download-section.scss */
.download {
  padding: 100px 0;
}
/* line 4, ../scss/layout/_download-section.scss */
.download .header-section {
  margin-bottom: 15px;
}
/* line 8, ../scss/layout/_download-section.scss */
.download p {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  line-height: 21px;
  color: #2d3033;
  margin-bottom: 40px;
}

/* line 18, ../scss/layout/_download-section.scss */
.header-section {
  font-size: 28px;
  font-weight: 300;
  color: #2d3033;
}

/* line 3, ../scss/layout/_carousel-section.scss */
.carousel-img {
  width: 50%;
}
@media (max-width: 991px) {
  /* line 3, ../scss/layout/_carousel-section.scss */
  .carousel-img {
    width: 100%;
  }
}
/* line 11, ../scss/layout/_carousel-section.scss */
.carousel-indicators {
  left: 12.5%;
  bottom: 30px;
}
/* line 15, ../scss/layout/_carousel-section.scss */
.carousel-indicators li {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
@media (max-width: 991px) {
  /* line 11, ../scss/layout/_carousel-section.scss */
  .carousel-indicators {
    left: 0;
  }
}

/* line 27, ../scss/layout/_carousel-section.scss */
.blockquote {
  background-color: #53354a;
}
@media (min-width: 992px) {
  /* line 27, ../scss/layout/_carousel-section.scss */
  .blockquote {
    position: absolute;
    left: auto;
    right: auto;
    width: 50%;
    height: 100%;
    bottom: 0;
    right: 0;
    margin: 0;
  }
}
/* line 41, ../scss/layout/_carousel-section.scss */
.blockquote-main {
  padding: 15px;
  color: #fff;
}
@media (min-width: 992px) {
  /* line 41, ../scss/layout/_carousel-section.scss */
  .blockquote-main {
    position: absolute;
    top: 15%;
    left: 7%;
    right: 20%;
  }
}
/* line 52, ../scss/layout/_carousel-section.scss */
.blockquote-main p {
  font-family: "Cardo", serif;
  font-size: 36px;
  font-style: italic;
  line-height: 42px;
  margin-bottom: 15px;
}
@media (max-width: 1439px) {
  /* line 52, ../scss/layout/_carousel-section.scss */
  .blockquote-main p {
    font-size: 25px;
    line-height: 30px;
  }
}
/* line 65, ../scss/layout/_carousel-section.scss */
.blockquote-main footer {
  text-transform: uppercase;
  line-height: 21px;
  font-weight: 700;
  font-size: 13px;
  margin-bottom: 50px;
}
@media (max-width: 991px) {
  /* line 65, ../scss/layout/_carousel-section.scss */
  .blockquote-main footer {
    font-size: 10px;
  }
}

/* line 1, ../scss/layout/_btn.scss */
.btn {
  transition: .3s;
}
/* line 4, ../scss/layout/_btn.scss */
.btn-primary {
  color: #fff;
  background-color: #e84545;
  border-color: #e84545;
}
/* line 9, ../scss/layout/_btn.scss */
.btn-primary:hover {
  background: #E80C0C;
  border-color: #E80C0C;
}
/* line 15, ../scss/layout/_btn.scss */
.btn-lg {
  border-radius: 0;
  font-size: 13px;
  text-transform: uppercase;
  padding: 13px 40px;
}

@-webkit-keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
@keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
/* line 108, ../scss/layout/_btn.scss */
.hvr-buzz-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}

/* line 115, ../scss/layout/_btn.scss */
.hvr-buzz-out {
  -webkit-animation-name: hvr-buzz-out;
  animation-name: hvr-buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
