body {
	margin: 0;
	padding: 0;
	font-family: $font-txt;
}

.banner {
	margin-top: -100px;
	background: url('../../img/layer-34.png') no-repeat center center;
	background-size: cover;
}

.header {
	color: $color-white;
	height: 100px;
	align-items: inherit;
    transition: height 0.3s;

	.container {
		box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);

		@media (min-width: 1230px) {
			max-width: 1200px;
		}
	}
	
	&-fixed {
    	background-color: $color-blue;
    	height: 70px;

    	.container {
    		box-shadow: none;
    	}
	}

	.navbar {

		&-nav {
			.nav {

				&-item {
					@media (min-width: 992px) {
						margin-left: 50px;
					}
				}

				&-link {
					color: $color-link;
					font-size: 13px;
					text-transform: uppercase;
					font-weight: $font-bold;
					font-family: $font-txt;
					padding-right: 0;
					transition: .3s;

					&:hover {
						color: $color-white;
					}
				}
			}
		}

		&-toggler {
			width: 35px;
			height: 35px;
			padding: 7px;
			background-color: $color-secondary;
			border-radius: 50%;
			border-color: $color-secondary;
			z-index: 1000;

			.icon-bar {
			    background: #fff;
    			display: block;
	    		height: 2px;
    			margin: 0;
    			transition: transform 0.1s ease-in;
    			opacity: 1;

    			&:nth-child(2) {
    			    margin-bottom: 4px;
    				margin-top: 4px;
    			}
			}
		}
	}

	&-title {

		a {
			font-size: 36px;
			text-transform: uppercase;
			color: $color-white;
			font-weight: $font-normal;
			line-height: 20px;
			font-family: $font-txt;
			text-decoration: none;
		}
	}
}

@media (max-width: 991px) {
	.wrap {
	display: none;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0, 0, 0, .6);

	&-popup {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		flex-direction: column;
	}
}

}
.active {
	color: $color-white;
}